/* 04
ul 04
{
    display: flex;
    background-color: cyan;
    margin: 0;
    padding: 3px 0;
    color: black;
}
ul li
{
    list-style: none;
    margin: 0 75px;
} */








/* 05
table
{
    background-color: cyan;
    color: black;
} */